//NET "b_invert" LOC ="V10" | IOSTANDARD = "LVCMOS33";
//NET "cf" LOC ="P2" | IOSTANDARD = "LVCMOS33";
//NET "CLR" LOC ="B8" | IOSTANDARD = "LVCMOS33";
//NET "s<4>" LOC ="L4" | IOSTANDARD = "LVCMOS33";
//NET "s<3>" LOC= "T8" | IOSTANDARD = "LVCMOS33";
//NET "s<2>" LOC= "V9" | IOSTANDARD = "LVCMOS33";
//NET "s<1>" LOC= "R8" | IOSTANDARD = "LVCMOS33";
//NET "s<0>" LOC= "T6" | IOSTANDARD = "LVCMOS33";

//EL BUENO ES EL DE ABAJO
NET "aluop<3>" LOC= "P17" | IOSTANDARD = "LVCMOS33"; //niegas a a
NET "aluop<2>" LOC= "N17" | IOSTANDARD = "LVCMOS33"; //niegas a b
NET "aluop<1>" LOC= "M17" | IOSTANDARD = "LVCMOS33"; //more mux  
NET "aluop<0>" LOC= "P18" | IOSTANDARD = "LVCMOS33"; //less mux 

NET "flags<3>" LOC= "N14" | IOSTANDARD = "LVCMOS33"; //ov
NET "flags<2>" LOC= "J13" | IOSTANDARD = "LVCMOS33";  //negative
NET "flags<1>" LOC= "K15" | IOSTANDARD = "LVCMOS33";  //cero
NET "flags<0>" LOC= "H17" | IOSTANDARD = "LVCMOS33";  //carry


//NET "a<7>" LOC= "V10" | IOSTANDARD = "LVCMOS33"; //MORE
//NET "a<6>" LOC= "U11" | IOSTANDARD = "LVCMOS33";
//NET "a<5>" LOC= "U12" | IOSTANDARD = "LVCMOS33";
//NET "a<4>" LOC= "H6" | IOSTANDARD = "LVCMOS33";
NET "a<3>" LOC= "T13" | IOSTANDARD = "LVCMOS33"; // more
NET "a<2>" LOC= "R16" | IOSTANDARD = "LVCMOS33";
NET "a<1>" LOC= "U8" | IOSTANDARD = "LVCMOS33";
NET "a<0>" LOC= "T8" | IOSTANDARD = "LVCMOS33"; //LESS


//NET "b<7>" LOC= "R13" | IOSTANDARD = "LVCMOS33"; //MORE
//NET "b<6>" LOC= "U18" | IOSTANDARD = "LVCMOS33";
//NET "b<5>" LOC= "T18" | IOSTANDARD = "LVCMOS33";
//NET "b<4>" LOC= "R17" | IOSTANDARD = "LVCMOS33";
NET "b<3>" LOC= "R15" | IOSTANDARD = "LVCMOS33";
NET "b<2>" LOC= "M13" | IOSTANDARD = "LVCMOS33";
NET "b<1>" LOC= "L16" | IOSTANDARD = "LVCMOS33";
NET "b<0>" LOC= "J15" | IOSTANDARD = "LVCMOS33"; //LESS


//NET "ans<7>" LOC= "V11" | IOSTANDARD = "LVCMOS33"; //MORE
//NET "ans<6>" LOC= "V12" | IOSTANDARD = "LVCMOS33";
//NET "ans<5>" LOC= "V14" | IOSTANDARD = "LVCMOS33";
//NET "ans<4>" LOC= "V15" | IOSTANDARD = "LVCMOS33";
NET "ans<3>" LOC= "T16" | IOSTANDARD = "LVCMOS33";
NET "ans<2>" LOC= "U14" | IOSTANDARD = "LVCMOS33";
NET "ans<1>" LOC= "T15" | IOSTANDARD = "LVCMOS33";
NET "ans<0>" LOC= "V16" | IOSTANDARD = "LVCMOS33";  //LESS