NET "INI" LOC ="C9" | IOSTANDARD = "LVCMOS33";
NET "CLR" LOC ="B8" | IOSTANDARD = "LVCMOS33";
NET "CLK" LOC ="V10"| IOSTANDARD = "LVCMOS33";
NET "DISPLAY<6>" LOC ="T17" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<5>" LOC ="T18" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<4>" LOC ="U17" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<3>" LOC= "U18" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<2>" LOC= "M14" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<1>" LOC= "L14" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<0>" LOC= "M13" | IOSTANDARD = "LVCMOS33";

NET "AN<0>" LOC ="N16" | IOSTANDARD = "LVCMOS33";
NET "AN<1>" LOC ="N15" | IOSTANDARD = "LVCMOS33";
NET "AN<2>" LOC ="P18" | IOSTANDARD = "LVCMOS33";
NET "AN<3>" LOC ="P17" | IOSTANDARD = "LVCMOS33";

NET "QA<0>" LOC ="U16" | IOSTANDARD = "LVCMOS33";
NET "QA<1>" LOC ="V16" | IOSTANDARD = "LVCMOS33";
NET "QA<2>" LOC= "U15" | IOSTANDARD = "LVCMOS33";
NET "QA<3>" LOC= "V15" | IOSTANDARD = "LVCMOS33";
NET "QA<4>" LOC= "M11" | IOSTANDARD = "LVCMOS33";
NET "QA<5>" LOC= "N11" | IOSTANDARD = "LVCMOS33";
NET "QA<6>" LOC= "R11" | IOSTANDARD = "LVCMOS33";
NET "QA<7>" LOC= "T11" | IOSTANDARD = "LVCMOS33";

NET "DA<0>" LOC="T10" | IOSTANDARD = "LVCMOS33";
NET "DA<1>" LOC= "T9" | IOSTANDARD = "LVCMOS33";
NET "DA<2>" LOC= "V9" | IOSTANDARD = "LVCMOS33";
NET "DA<3>" LOC= "M8" | IOSTANDARD = "LVCMOS33";
NET "DA<4>" LOC= "N8" | IOSTANDARD = "LVCMOS33";
NET "DA<5>" LOC= "U8" | IOSTANDARD = "LVCMOS33";
NET "DA<6>" LOC= "V8" | IOSTANDARD = "LVCMOS33";
NET "DA<7>" LOC= "T5" | IOSTANDARD = "LVCMOS33";


